body {
    background-color: rgba(238, 135, 183, 0.63);
}
.navbar{
    background-color: rgb(249, 207, 191);


}

  
  p{
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
  }
  